obj/
obj
bin
bin/
.idea/
.idea

Professions.Application/obj
Professions.Application/bin
Professions.Application/obj/
Professions.Application/bin/

Professions.Domain/obj
Professions.Domain/bin
Professions.Domain/obj/
Professions.Domain/bin/

Professions.Infrastructure/obj
Professions.Infrastructure/bin
Professions.Infrastructure/obj/
Professions.Infrastructure/bin/

Professions.WebApi/obj
Professions.WebApi/bin
Professions.WebApi/obj/
Professions.WebApi/bin/